<template name="Login">
  <div class="login">
    <!-- {{#if currentUser}}
      {{currentUser.services.facebook.name}} -
      {{currentUser.services.facebook.gender}}
      <button id="logout">Logout</button>
    {{else}}
      <button id="facebook-login" class="btn btn-default"> Login with Facebook</button>
    {{/if}} -->
    <div class="ui middle aligned center aligned grid container">
      <div class="column">
        <div class="ui sixteen wide column">
          <h2 class="center aligned header">Sign in with</h2>
        </div>
        <div class="ui sixteen wide column">
          <div class="ui three column stackable grid">

            <div class="column">
              <button class="ui facebook button fluid massive" id="facebook-login">
                <i class="facebook icon"></i> Facebook
              </button>
            </div>

            <div class="column">
              <button class="ui google plus button fluid massive">
                <i class="google plus icon"></i> Google Plus
              </button>
            </div>

            <div class="column">
              <button class="ui twitter button fluid massive">
                <i class="twitter icon"></i> Twitter
              </button>
            </div>

          </div>
        </div>
        <div class="ui sixteen wide column">
          <h3>or log in with</h3>
          <form class="ui large form">
            <div class="ui stacked element">

              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="email" placeholder="E-mail address">
                </div>
              </div>

              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Password">
                </div>
              </div>

              <div class="ui fluid large teal submit button">
                Login
              </div>

              <div class="error message">
              </div>

            </div>
          </form>
          <div class="ui message">
            New to us?  <a href="#">Sign up with a password.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
