<template name="QuestionMainFooter">
  <div class="question-main-footer">
<div class="ui comments">
  <div class="comment">
    <div class="content">
      
      <div class="picture">
          <a><img class="ui left floated mini image" src="author.profile.profileImg" alt="" /></a>
      </div>
      
      <div class="name">
        <a class="author">{{author.profile.name}}</a>
      </div>
      
      <div class="metadata">
        <div class="date">Posted {{creationTime}}</div>
        <div class="rating">
          <i class="star icon"></i>
          5 Faves
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</template>
