<template name="Home">
  <div class="home ui grid middle aligned container">

    <div class="row">
      <div class="sixteen wide computer column center aligned">
        <div class="ui grid">

          <div class="row">
            <div class="sixteen wide computer column center aligned">
              <h1 class="leader">NUS Forums</h1>
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide computer column center aligned">
              <img src="img/splash/pencil_box.png" id="leader-img" alt="" />
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide computer column center aligned">
              <h4 class="leader-med">Better IVLE forums for NUS people.</h4>
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide computer column center aligned">
              <button class="ui huge orange button btn-splash-login">Sign in as a teaching staff</button>
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide computer column center aligned">
              <button class="ui huge orange button btn-splash-login">Sign in as a student</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>
