/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.home {
  height: 100vh;
}

.leader {
  font-size: 5em;
}

.leader-med {
  font-size: 2em;
}

#leader-img {
  height: auto;
  width: 40%;
  max-width: 100px;
}

.splash-social-icon {
  color: black;
}
