/*****************************************************************************/
/* Forum: Style */
/*****************************************************************************/
#forum_description {
    display:block;
    background-color:#FED0A3;
    padding:20px;
    border-radius:10px;
}

.main_forum h1 {
    display:inline-block;
}