<template name="Forum">
  <div class="forum animated zoomIn">
    <div class="ui grid">

      <div class="twelve wide computer eleven wide tablet sixteen wide mobile column main_forum">

        <div class="row">
          <div class="sixteen wide computer column">
            {{> Search}}
          </div>
        </div>

        <div class="ui sixteen wide column segment">
          <div class="ui grid">

            <div class="row">
              <div class="sixteen wide column">
                <div class="ui header">
                  <h1>{{title}}</h1>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="sixteen wide column">

                <div class="ui content">
                  <p>
                    {{this.description}}
                  </p>
                </div>

                <div class="ui hidden divider"></div>

                <div class="metadata">
                  <a>
                    <img class="ui floated mini image" src="{{forumOwner.profile.profileImg}}" alt="" />
                  </a>

                  <div class="name">
                    <a class="ui author">{{forumOwner.profile.name}}</a>
                  </div>

                  <div class="date">
                    Created {{forumCreationDate}}
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="ui two column grid">
            <div class="column">
              <div class="ui hidden divider"></div>
              <h3 class="ui header">What's new</h3>
            </div>
          </div>
        </div>

        <div>

          <!-- <table>
            <thead>
              <td class="votes">Votes</td>
              <td class="posts">Posts</td>
              <td class="author">Author</td>
              <td class="views">Views</td>
              <td class="date">Posted At</td>
            </thead>
            {{#each questions}} {{> ForumPosts}} {{/each}}
          </table> -->
          <div class="ui segments">
            {{#each questions}} {{> ForumQuestion}} {{/each}}
          </div>
        </div>

      </div>

      <div class="computer only tablet only four wide column">
        <div class="ui column">

          <button class="fluid ui large orange button" id="btn-ask">
            Post a question
          </button>

          <div class="ui hidden divider"></div>

          <div class="ui segment">
            <div class="ui header">
              <h4>My stats</h4>
            </div>

            <div class="ui grid">

              <div class="ui row">
                <div class="ui stackable eight wide column">
                  <div class="ui tiny statistic">
                    <div class="value">
                      {{postsPercentHealth}}
                    </div>
                    <div class="label">
                      Questions above average
                    </div>
                  </div>
                </div>

                <div class="ui stackable eight wide column">
                  <div class="ui tiny statistic">
                    <div class="value">
                      {{interactionsPercentHealth}}
                    </div>
                    <div class="label">
                      Interactions above average
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="ui segment">
            <div class="ui grid stackable">
              <div class="ui sixteen wide column stackable">
                <h2 class="ui header">Hot Topics</h2>
              </div>
              <div class="ui sixteen wide column stackable">
                {{#each forumHotTopics}} {{> ForumHotTopic}} {{/each}}
              </div>
            </div>
            <div>

            </div>
            <!--By number of-->
          </div>
          <div class="ui segment">
            <!--By number of interactions in other people's posts-->
            <h2 class="ui header">Top Users</h2>
            <div>
              {{#each topUsers}} {{> TopUsers}} {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
