<template name="Forum">
  <div class="forum">
    <div class="ui grid">

      <div class="eleven wide computer eleven wide tablet sixteen wide mobile column main_forum">

        <div class="row">
          <div class="ui grid">
            <div class="sixteen wide column">
              <div class="ui content">
                <h1>{{title}}</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="ui grid">
            <div class="sixteen wide column">
              <div class="ui column">
                <div id="forumDescription">
                  Created at: {{forumCreationDate}} &nbsp;&nbsp;&nbsp; Owner: {{forumOwner}} <br /><br />
                  <p>{{description}}</p><br />
                  {{> Search}}
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="ui two column grid">
            <div class="column">
              <h3 class="ui header">Latest Topics</h3>
            </div>
            <div class="column">
              <div class="ui buttons right floated">
                <button class="ui red basic button" id="btn-ask">New Post</button>
              </div>
            </div>
          </div>
        </div>

        <div class="">
          
          <table>
            <thead><td class="votes">Votes</td><td class="posts">Posts</td><td class="author">Author</td><td class="views">Views</td><td class="date">Posted At</td></thead>
            {{#each questions}} {{> ForumPosts}} {{/each}}
          </table>
          
        </div>

      </div>
      
      <div class="computer only tablet only five wide column">
        <div class="ui column">
          <div class="ui segment">

            <div class="ui header">
              <h4>My stats</h4>
            </div>

            <div class="ui olive tiny progress" data-present="72">
              <div class="bar">
                <div class="progress"></div>
              </div>
              <div class="label">Number of posts</div>
            </div>

            <div class="ui blue tiny progress" data-percent="59">
              <div class="bar">
                <div class="progress"></div>
              </div>
              <div class="label">Number of likes</div>
            </div>

          </div>
          
          <div class="ui segment">
            Hot Topics
          </div>
          <div class="ui segment">
            Top Users
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
