<template name="Forum">
  <div class="forum">
    <div class="ui grid">
      <div class="ten wide computer eleven wide tablet sixteen wide mobile column main_forum">
          <h1>{{title}}</h1>
        <div class="container" id="forum_description">
          {{description}}
        </div>
        <div class="">
        {{> Search}}
        </div>
        <div class="ui segments">
          {{#each questions}} {{> ForumQuestion}} {{/each}}
        </div>
        
        
        
      </div>
      <div class="computer only one wide column"></div>
      <div class="computer only tablet only five wide column">
      </div>
    </div>
  </div>
</template>
