<template name="Signup">
  <div class="signup column">
    <div class="ui sixteen wide column">

      <div class="ui sixteen wide column">
        <h2 class="center aligned ui header">Create a new account</h2>
      </div>

      <div class="ui divider"></div>

      <form id="signup" class="ui large form">
        <div class="ui stacked element">

          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input placeholder="E-mail address" type="email" name="emailAddress">
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input name="password" placeholder="Password" type="password">
            </div>
          </div>

          <input type="submit" value="Sign up" class="ui fluid large teal submit button">

        </div>
      </form>

    </div>
  </div>
</template>
