<template name="Profile">
  <div class="profile ui grid">
    <div class="eleven wide computer eleven wide tablet sixteen wide mobile column">
      <div class="column package zc_personal" >
        <div>
          <img src="{{img}}" />
          <h2 class="canOverflow" id="name">{{name}}</h2>
        </div>
        <h3 class="canOverflow" id="description">{{description}}</h3>
        <hr />
          <div class="zc_menu">
            <a href="#enrolledForums">Forums&nbsp;&nbsp;&nbsp;{{forumNum}}</a>
          </div>
          <div class="zc_menu">
            <a href="#askedQuestions">Asked&nbsp;&nbsp;&nbsp;{{askNum}}</a>
          </div>
          <div class="zc_menu">
            <a href="#answeredQuestions">Answered&nbsp;&nbsp;&nbsp;{{answerNum}}</a>
          </div>
          <div class="zc_menu">
            <a href="#followedQuestions">Followed&nbsp;&nbsp;&nbsp;{{followNum}}</a>
          </div>
      </div>

      {{#if forumNum}}
      <section id="enrolledForums">
      <div class="column package">
        <h3>Forums&nbsp;&nbsp;&nbsp;{{forumNum}}</h3>
        <hr />
        {{#each forums}}
          {{> ProfileForum}}
        {{/each}}
      </div>
      </section>
      {{/if}}

      {{#if askNum}}
      <section id="askedQuestions">
      <div class="column package">
        <h3>Questions&nbsp;&nbsp;&nbsp;{{askNum}}</h3>
        <hr />
        {{#each askedQuestions}}
          {{> ForumQuestion}}
        {{/each}}
      </div>
      </section>
      {{/if}}

      {{#if answerNum}}
      <section id="answeredQuestions">
      <div class="column package">
        <h3>Answers&nbsp;&nbsp;&nbsp;{{answerNum}}</h3>
        <hr />
        {{#each answeredQuestions}}
          {{> Interaction}}
        {{/each}}
      </div>
      </section>
      {{/if}}
<!--
      {{#if followNum}}
      <section id="followedQuestions">
      <div class="column package">
        <h3>Follows&nbsp;&nbsp;&nbsp;{{followNum}}</h3>
        <hr />
        {{#each forums}}
          {{> followedQuestions}}
        {{/each}}
      </div>
      </section>
      {{/if}}
-->
    </div>

    <div class="five wide computer only column">
      <div class="column package">
      </div>
    </div>
  </div>
</template>
