/*****************************************************************************/
/* Profile: Style */
/*****************************************************************************/
.profile {
    max-width: 960px !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

.package {
    width:100%;
    //border:1px solid #BBBBBB;
    border-radius:3px;
    margin-bottom:40px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    padding-top:10px;
    box-shadow:0px 0px 2px #AAAAAA;
}

.canOverflow {
    overflow:hidden;
    max-width:25ch;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#name {
    max-width:15ch;
}

#description {
    max-width:25ch;
}

hr {
    width:100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.package h3 {
    display:inline-block;
    margin:0px !important;
}

.zc_menu {
    display:inline-block !important;
    margin-right:40px;
}

.profile a {
    color:black !important;
    font-weight:bold !important;
}

.profile a:hover {
    color:darkblue !important;
    text-decoration:underline;
}