<template name="Profile">
  <div class="profile">


    <div class="ui grid container">

      <div class="sixteen wide column left aligned">
        <div class="ui grid">
          <div class="twelve wide column left aligned">
            <h2>Profile page</h2>
          </div>
          <div class="four wide column right aligned">
            <button class="ui blue button right floated" id="btn-create-forum">Create a new forum</button>
          </div>
        </div>
      </div>

      <!-- Insert grid for past contributions to forums -->

      <div class="sixteen wide column left aligned">
        Past contributions to forums grid goes here (similar to GitHub)
      </div>

      <!-- Forums -->

      <div class="sixteen wide column left aligned">
        <h2 class="ui header">Forums</h2>
        <div class="ui relaxed divided list">
          {{#each forums}}
            {{> ProfileForum}}
          {{/each}}
        </div>
      </div>

      <div class="ui hidden divider"></div>

      <!-- Posts -->

      <div class="sixteen wide column left aligned">
        <h2 class="ui header">Posts</h2>
        <div class="ui relaxed divided list">
          <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
              <a class="header">Why is the sky blue?</a>
              <div class="description">Posted by David</div>
            </div>
          </div>
          <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
              <a class="header">When we specify something, why does it exist?</a>
              <div class="description">Updated 22 mins ago</div>
            </div>
          </div>
          <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
              <a class="header">How do I use loop unrolling?</a>
              <div class="description">Updated 34 mins ago</div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</template>
