/*****************************************************************************/
/* Profile: Style */
/*****************************************************************************/
.package {
    width:100%;
    //border:1px solid #BBBBBB;
    border-radius:3px;
    margin-bottom:40px;
    padding:20px;
    box-shadow:0px 0px 2px #AAAAAA;
}

.canOverflow {
    overflow:hidden;
    max-width:25ch;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#name {
    max-width:15ch;
}

#description {
    max-width:25ch;
}

hr {
    width:100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}