<template name="Topmenu">
  <div class="topmenu">
    <div class="ui secondary pointing menu main_menu stackable">
      <div class="item">
      <h3 class="ui orange header" id="btn-logo">
        NUS FORUM
      </h3>
      </div>

      <!-- <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
      </div> -->

      <div class="item member" id="btn-currentForum">
        Forum
      </div>

      <div class="item member" id="btn-forum-settings">
        Settings
      </div>

      <div class="item member" id="btn-analytics">
        Analytics
      </div>

      <div class="item member" id="btn-createForum">
        Create
      </div>

      <div class="item member" id="btn-profile">
        Me
      </div>

      <div class="item member" id="btn-public_forum">
        Public Forum
      </div>
      
      <div class="right menu" id="rightMenu">
      <div class="ui dropdown item" id="info">
        <img class="ui avatar image" src="{{currentUser.profile.profileImg}}">
        &nbsp;&nbsp;&nbsp;{{currentUser.profile.name}}
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" id="btn-profile">Profile</div>
            <div class="item" id="btn-user-settings">User settings</div>
            <div class="item" id="btn-logout">Signout</div>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>
