/*****************************************************************************/
/* Topmenu: Style */
/*****************************************************************************/
.topmenu {
    //background-color:black;
    
}

.item:hover:not(#logo) {
    cursor:pointer !important;
}

.menu {
    //background-color:black;
}

.main_menu div {
    text-align:center;
}

#info {
    float:right !important;
}