<template name="Topmenu">
  <div class="topmenu">
    <div class="ui secondary pointing menu main_menu stackable">
      <div class="item" id="btn-logo">
        NUS FORUM
      </div>

      <!-- <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
      </div> -->

      <div class="item" id="btn-currentForum">
        Forum
      </div>

      <div class="item" id="btn-settings">
        Settings
      </div>

      <div class="item" id="btn-analytics">
        Analytics
      </div>

      <div class="item" id="btn-createForum">
        Create
      </div>

      <div class="right menu">
      <div class="ui dropdown item" id="info">
        <img class="ui avatar image" src="{{currentUser.profile.profileImg}}">
        &nbsp;&nbsp;&nbsp;{{name}}
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" id="btn-settings">User settings</div>
            <div class="item" id="btn-logout">Signout</div>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>
