/*****************************************************************************/
/* Topmenu: Style */
/*****************************************************************************/
.topmenu {
    background-color:black;
}

.topmenu_wrapper {
    background-color:black;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
}

.item:hover:not(#logo) {
    cursor:pointer !important;
}

.menu {
    background-color:black;
}

.main_menu div {
    padding-right:12px !important;
    padding-left:12px !important;
}

#info {
    float:right !important;
}