<template name="AccountWithoutPwd">
  <div class="account-without-pwd">

    <form class="ui form" id="account-without-pwd-form">

      <div class="field">
        <label>Email</label>
        <input type="email" name="nusEmail" id="user-settings-form-email" placeholder="Your NUS email" value="{{userEmail}}">
      </div>

      <button type="submit" class="ui large blue button">Update email</button>

    </form>

      {{#unless isVerified}}
      <p>
        Your email address is not verified.
      </p>
      <button class="ui large blue button" id="btn-resend-verify-email">Resend verification email</button>
      {{/unless}}


  </div>
</template>
