<template name="AccountWithoutPwd">
  <div class="account-without-pwd">
    <form class="ui form">
      <h4 class="ui dividing header">Basic Account Setting</h4>
      <div class="field">
        <label>User Name</label>
        <div class="one fields">
          <div class="field">
            <input type="text" name="shipping[first-name]" placeholder="User Name">
          </div>
        </div>
      </div>
      <div class="field">
        <label>New Email</label>
        <div class="one fields">
          <div class="field">
            <input type="text" name="shipping[first-name]" placeholder="New Email">
          </div>
        </div>
      </div>
      <div class="ui button" tabindex="0">Submit</div>
    </form>
  </div>
</template>
