<template name="ForumCreate">
  <div class="forum-create">

    <div class="ui grid container">

      <div class="sixteen wide column left aligned">
        <div class="left aligned ui header">
          <h2>Create a new forum</h2>
        </div>

        <form class="ui form" id="form-create-forum">

          <div class="fields">
            <div class="ten wide field">
              <label>Title</label>
              <input type="text" name="title" value="" placeholder="Title of your forum.">
            </div>
          </div>

          <div class="fields">
            <div class="ten wide field">
              <label>Description</label>
              <textarea name="description" id="forum-description" rows="5" placeholder="Elaborate on what your forum does."></textarea>
            </div>
          </div>

          <div class="fields">
            <div class="ten wide field">
              <label>Users</label>
              <textarea name="users" id="forum-users" rows="5" placeholder="Add users by name or email.."></textarea>
            </div>
          </div>

          <div class="fields">
            <div class="ten wide field">
              <label>Sticky Tags</label>
              <input name="stickyTags" id="forum-tags" placeholder="Always show these tags on the main page.  e.g. #exam #tut1 #tut2">
            </div>
          </div>

          <div class="ui hidden divider"></div>

          <div class="inline fields">
            <div class="ten wide field">
              <button class="ui animated fade orange big button" type="submit">
                <div class="visible content">
                  Create a forum!
                </div>
                <div class="hidden content">
                  Go for it!
                </div>
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</template>
