<template name="Main">
  <div class="home">
    <div class="ui center aligned grid">
    <div class="row">
      <div class="ui sixteen wide computer column">
        <div class="ui header">
          <h1>Hello world!</h1>
        </div>
        <div class="ui content">
          <p>
            You are not subscribed to any forums yet.
          </p>
          <button id="create-forum" class="ui huge blue button">
            Create a forum.
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>
