/*****************************************************************************/
/* QuestionMain: Style */
/*****************************************************************************/
.question-main {
    word-wrap: break-word;
}

p{
    font-size: 15px;
    line-height: 1.4;
}