<template name="QuestionMain">
  <div class="question-main ui grid">
    




    <div class="row">
    <div class="sixteen wide column left aligned">
      <div class="ui content">
        <p>
          {{content}}{{userName}}
        </p>
      </div>
    </div>
    </div>
    
    <div class="ui divider"></div>
    
    <div class="row">
      <div class="sixteen wide column left aligned">
       {{#with questionAuthor}}
      {{> QuestionMainFooter}}
      {{/with}}
      </div>
    </div>

    


</div>
  
  
  
  
  
  
</template>