<template name="AccountWithPwd">
  <div class="account-with-pwd">
    <form class="ui form" id="form-update-username">
      <h4 class="ui dividing header">Basic Account Setting</h4>
      <div class="field">
        <label>User Name</label>
        <div class="one fields">
          <div class="field">
            <input type="text" name="name" placeholder="User Name" value="{{currentUser.profile.name}}">
          </div>
        </div>
      </div>
      <button class="ui button" type="submit">Update username</button>
    </form>

    <div class="ui hidden divider"></div>
    <hr>
    <div class="ui hidden divider"></div>

    <form class="ui form" id="form-update-password">
      <div class="field">
        <label>Old Password</label>
        <div class="fields">
          <div class="twelve wide field">
            <input type="password" name="oldPassword" placeholder="Old Password">
          </div>
        </div>
      </div>
      <div class="field">
        <label>New Password</label>
        <div class="fields">
          <div class="twelve wide field">
            <input type="password" name="newPassword" placeholder="New Password">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Confirm New Password</label>
        <div class="fields">
          <div class="twelve wide field">
            <input type="password" name="newPassword2" placeholder="Confirm New Password">
          </div>
        </div>
      </div>
      <button class="ui button" type="submit">Update password</button>
    </form>

    <div class="ui hidden divider"></div>

    <form class="ui form" id="form-update-email">

      <div class="fields">
        <div class="twelve wide field">
          <label>Email</label>
          <input type="email" name="nusEmail" id="user-settings-form-email" placeholder="Your NUS email" value="{{userEmail}}">
        </div>
      </div>

      <button type="submit" class="ui button">Update email</button>

    </form>

  </div>
</template>
