<template name="AddEmail">
  <div class="add-email ui middle center aligned grid container">
    <div class="column middle aligned">

        <div class="ui sixteen wide column">
          <h2 class="center aligned ui header">You're almost there!  Please add your NUS email.</h2>
        </div>

        <div class="ui divider"></div>

        <form id="form-add-email" class="ui large form">
          <div class="ui stacked element">

            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input placeholder="E-mail address" type="email" name="emailAddress">
              </div>
            </div>

            <input type="submit" value="Verify my email!" class="ui fluid large teal submit button">

          </div>
        </form>

    </div>
  </div>
</template>
