<template name="ForumQuestion">
  <div class="forum-question ui segment">

    <div class="ui two column stackable grid container">
      <div class="two wide column middle aligned content">
        <div class="ui tiny middle aligned content statistics">

          <div class="middle aligned content statistic">
            <div class="value">
              {{votes}}
            </div>
            <div class="label">
              Votes
            </div>
          </div>

          <!-- <div class="middle aligned content statistic">
            <div class="value">
              {{views}}
            </div>
            <div class="label">
              Views
            </div>
          </div> -->

        </div>

      </div>

      <div class="ten wide column middle aligned">
        <div class="ui medium small header">
          <a class="forum-question-title">
            <!-- <p> -->
            {{title}}{{userName}}
            <!-- </p> -->
          </a>
        </div>
      </div>

      <div class="three wide column middle aligned content">
        {{#with questionAuthor}}
          {{> ForumQuestionRight}}
        {{/with}}
      </div>

    </div>

  </div>
</template>
