.pusher {
  min-height: 100%;
  //background: #fff url('img/bg/square_bg.png') !important;
}

#main_content {
  display:block;
  max-width:960px;
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  padding:0px !important;
  border:none;
}

body {
  background-color: #f0f0f0;
}
