<template name="MasterLayout">
    {{#unless currentUser}}
      <!-- <div class="pusher"> -->
        {{> yield}}
      <!-- </div> -->
    {{else}}
      {{#unless hasEmail}}
        {{> AddEmail}}
      {{else}}
      <div>
        {{> Topmenu}}
        {{> Forumbar}}
      </div>
        <div id="main_content">
        <div class="pusher">
          <div class="ui container">
            {{> yield}}
          </div>
        </div>
        </div>
      {{/unless}}
    {{/unless}}
</template>
