<template name="MasterLayout">
    {{#unless currentUser}}
      {{> Login}}
    {{else}}
      {{#unless hasEmail}}
        {{> AddEmail}}
      {{else}}
      <!--{{> Forumbar}}-->
        <div class="ui grid">
          <div class="one wide column left aligned">
          </div>
          <div class="three wide column left aligned">
            {{> SideMenu}}
          </div>
          <div class="pusher eleven wide column left aligned">
            {{> Topbar}}
            {{> yield}}
          </div>
        </div>
      {{/unless}}
    {{/unless}}
</template>
