<template name="Topbar">
  <div class="topbar">
    <div class="ui grid container">
      <div class="sixteen wide column right aligned">
        <div class="ui inline dropdown">
          <div class="text">
            <img class="ui avatar image" src="{{currentUser.profile.profileImg}}">
            <span>{{currentUser.profile.name}}</span>
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" id="btn-profile">Profile</div>
            <div class="item" id="btn-settings">User settings</div>
            <div class="item" id="btn-logout">Signout</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
