/*****************************************************************************/
/* Search: Style */
/*****************************************************************************/
#input-tags {
  font-size: 1.4em;
}
#search-submit-btn {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}
