<template name="SideMenu">
  <div class="ui vertical menu" id="sideMenu">
  
  <div class="item" id="nusforum">
    <a class="ui logo icon image" href="/">
      <img src="http://icons.iconarchive.com/icons/arrioch/halloween/256/skull-icon.png" id="logo">
    </a>&nbsp;
    <a href="/" style="color:black">
      <b>NUS FORUM</b>
    </a>
  </div>
  
  <div class="item zc_clickable" id="currentForum">
    <b>{{currentForum}}</b>
  </div>
  
  <div class="item" id="forums">
    <b>Forums</b>
    <div class="menu">
    {{> Forumbar}}
    <div class="dropdown item">
      <b>More</b>
      <i class="dropdown icon"></i>
      <div class="menu">
        
      </div>
    </div>
    </div>
  </div>
  
  <div class="item zc_clickable" id="profile">
    <b>Me</b>
  </div>
  
  <div class="item zc_clickable">
    <b>Settings</b>
  </div>
 
 <!--
  <div class="ui dropdown item">
    More
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item"><i class="edit icon"></i> Edit Profile</a>
      <a class="item"><i class="globe icon"></i> Choose Language</a>
      <a class="item"><i class="settings icon"></i> Account Settings</a>
    </div>
  </div>
  -->
</div>
</template>
