<template name="MainSplash">
  <div class="main-splash ui grid">
    <div class="row middle aligned div-1">
      <div class="ui grid center aligned container">
        <div class="sixteen wide column middle aligned">
          <div class="center ui content">
            <h1><span class="splash-tagline">A better IVLE forum for the masses.</span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row middle aligned div-2">
      <div class="ui grid container">
        <div class="sixteen wide column">
          {{> Login}}
          <div class="ui invisible divider">

          </div>
        </div>
      </div>
    </div>

    <div class="row middle aligned div-3">
      <div class="ui grid center aligned container">
        <div class="sixteen wide column middle aligned">
          <div class="center ui content">
            <h2 class="text-white">Here's what makes us different.</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row middle aligned div-4">
      <div class="ui grid center aligned container">
        <div class="sixteen wide column middle aligned">
          <div class="center ui content">
            <h2 class="white">Not convinced?  Check out the new features!</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
