<template name="Signup">
  <div class="signup">
    <h1>Find me in app/client/templates/signup/signup</h1>
    <h1>Sign Up</h1>
    <form id="signup">
      <div>
        <label for="emailAddress">Email Address</label>
        <input type="email" name="emailAddress" placeholder="Email Address" value="">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" value="" placeholder="Password">
      </div>

      <div>
        <input type="submit" name="some_name" value="Sign up">
      </div>
    </form>
  </div>
</template>
