<template name="Sidebar">
  <div class="sidebar">
    <div class="ui visible left vertical inverted sidebar labeled icon menu">
      <a class="item" id="btn-home">
        <i class="home icon"></i>
        Home
      </a>
      <a class="item" id="btn-forums">
        <i class="block layout icon"></i>
        Forums
      </a>
      <a class="item" id="btn-profile">
        <i class="settings icon"></i>
        Settings
      </a>
      <a class="item" id="btn-logout">
        <i class="icon sign out"></i>
        Logout
      </a>
    </div>
  </div>
</template>
