<template name="Sidebar">
  <div class="sidebar">
    <div class="ui visible left vertical inverted sidebar labeled icon menu">
      <a class="item" id="btn-forums">
        <i class="block layout icon"></i> Forums
      </a>
      <a class="item" id="btn-forum">
        <i class="comment outline icon"></i> Forum
      </a>
      <a class="item" id="btn-settings">
        <i class="settings icon"></i> Settings
      </a>
      <a class="item" id="btn-profile">
        <i class="user icon"></i>Profile
      </a>
    </div>
  </div>
</template>
