<template name="Interaction">
  
  <!--
  <div class="ui grid">
    <div class="one wide column">
      <div class="ui stackable grid centered">
        <a id="btn-interaction-upvote" href="#"><i class="large chevron up icon"></i></a>
      </div>

      <div class="ui stackable grid centered">
        <div class="ui small statistic">
          <div class="value">
            {{votes}}
          </div>
        </div>
      </div>

      <div class="ui stackable grid centered">
        <a id="btn-interaction-downvote"><i class="large chevron down icon" href="#"></i></a>
      </div>
    </div>
  
  <div clas="fifteen wide column">
  <div class="comment">
    <a class="avatar">
      <img src="{{img}}">
    </a>
    <div class="content">
      <a class="author">{{author}}</a>
      <div class="metadata">
        <span class="date">{{time}}</span>
      </div>
      <div class="text">
        {{#markdown}}{{content}}{{/markdown}}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  </div>
  </div>

-->
<!--
  <div class="interaction_wrapper">
  <div class="interaction ui grid">
    

    <div class="fifteen wide column">
      <div class="column">
        <div class="ui left floated">{{author}}</div>
        <div class="ui right floated">{{img}}</div>
      </div>
      <div class="column">
        <div id="content">{{#markdown}}{{content}}{{/markdown}}</div>
      </div>
      <div class="column">
        <span id="time">Posted at {{time}}</span>
      </div>
    </div>
  </div>
  </div>
-->



  <div class="interaction ui segment">
    <a class="ui orange right ribbon label">Interaction</a>
    <div class="ui grid">

      <div class="row">

        <div class="two wide column center aligned">

          <div class="row">
            <div class="sixteen wide column">
              <a class="btn-interaction-upvote" href="#">
                <i class="large chevron up icon"></i>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide column">
              <div class="ui small statistic">
                <div class="value">
                  {{votes}}
                </div>
                <div class="label">
                  Votes
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide column">
              <a class="btn-interaction-downvote">
                <i class="large chevron down icon" href="#"></i>
              </a>
            </div>
          </div>

        </div>


      <div class="fourteen wide column left aligned">
        <div class="ui content">
           {{#markdown}}{{content}}{{/markdown}}
        </div>
      </div>
      </div>
<!--
      <div class="four wide column right aligned content">
          
      </div>
-->
      <div class="row">
        {{#with interactionAuthor}} {{> InteractionAuthor}} {{/with}}
      </div>
  </div>
  </div>

</template>
