<template name="Interaction">
  <div class="interaction ui segment">
    <a class="ui orange right ribbon label">Interaction</a>
    <div class="ui grid">

      <div class="row">

        <div class="two wide column center aligned">

          <div class="row">
            <div class="sixteen wide column">
              <a class="btn-interaction-upvote" href="#">
                <i class="large chevron up icon"></i>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide column">
              <div class="ui small statistic">
                <div class="value">
                  {{votes}}
                </div>
                <div class="label">
                  Votes
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide column">
              <a class="btn-interaction-downvote">
                <i class="large chevron down icon" href="#"></i>
              </a>
            </div>
          </div>

        </div>


      <div class="ten wide column left aligned">
        <div class="ui medium small header">
          <a class="forum-question-title">
            <!-- <p> -->
           
           {{#markdown}}{{content}}{{/markdown}}
            <!-- </p> -->
          </a>
        </div>
      </div>

      <div class="four wide column right aligned content">
          {{#with interactionAuthor}} {{> InteractionAuthor}} {{/with}}
      </div>
    </div>
  </div>
</div>
</template>
