/*****************************************************************************/
/* Interaction: Style */
/*****************************************************************************/
.interaction #profileBar {
    background-color:#FFEAD7;
    border-radius:2px;
    padding:3px;
}
