/*****************************************************************************/
/* RightSideLatestTopics: Style */
/*****************************************************************************/
.right-side-latest-topics {
    padding-top:3px;
    padding-bottom:3px;
    border-bottom:1px dashed #CCCCCC;
}

.right-side-latest-topics .title:hover {
    cursor:pointer;
}
