<template name="UserSettings">
  <div class="user-settings">
    <div class="ui top attached tabular menu">
      <a class="active item btn-account" data-tab="account">Account</a>
      <a class="item btn-settingsForums" data-tab="settingsForums">Forums</a>
    </div>
    <div class="ui bottom attached active tab segment " data-tab="account">
      {{#if social}}
        {{> AccountWithoutPwd}}
      {{else}}
        {{> AccountWithPwd}}
      {{/if}}
    </div>
    <div class="ui bottom attached tab segment" data-tab="settingsForums">
      {{> SettingForums}}
    </div>
  </div>
</template>
