/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

.canOverflow_singleLine {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
