<template name="Question">
  <div class="question">
    <div class="ui grid container">
      <div class="twelve wide column centered">
        <!-- Main question title -->
        {{#with question}} {{> QuestionMainTitle}} {{/with}}
        <!-- Main question -->
        {{#with question}} {{> QuestionMain}} {{/with}}
        <!-- interactions -->
        {{#each interactions}} {{> Interaction}} {{/each}}

        <!-- Editor -->
        {{> InteractionEditor}}

      </div>
    </div>
  </div>
</template>
