<template name="Question">
  <div class="question">
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="seven wide column centered">
        <!-- Main question title -->
        {{#with question}} {{> QuestionMainTitle}} {{/with}}
        <!-- Main question -->
        {{#with question}} {{> QuestionMain}} {{/with}}
        <!-- interactions -->
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui horizontal divider">
          <h3 class="ui header">{{interactionsCount}} Interactions</h3>
        </div>
        <div class="ui hidden divider"></div>
        {{#each interactions}} {{> Interaction}} {{/each}}

        <!-- Editor -->
        {{> InteractionEditor}}

      </div>
      <div class="six wide column"></div>
    </div>
  </div>
</template>
